
* {
    box-sizing: border-box;
}

:root {

    --size_big: 4rem;
    --size_med: 1.5rem;
    --size_courant: 1rem;
    --size_small: 1.05rem;
    --interligne: 1.4;
    --interlettrage_small: 0.3px;
    --margin: 60px;
    --verticalmargin: 47px;
    --smallmargin: 25px;

    @include sizeone {

        --size_big: 2rem;
        --size_courant: 0.7rem;
        --size_small: 1.05rem;


        --interligne : 1.2;
        --interlettrage_small : 0.1px;

        --margin: 15px;
        --smallmargin: 15px;

    }

}

html{
    background-color: #3C2109;
}

body {

    background-color: white;

}

html, body {
    
    font-family: 'Proto', sans-serif;
    font-size: var(--size_courant);
    line-height: var(--interligne);
    letter-spacing: var(--interlettrage_small);
    width: 100vw;
    overflow-x: hidden;

}

main {

    background-color: var(--back);
    color: var(--color);
    transition: background-color 0.3s ease;

}

h3 {

    text-align: center;

}

.restaurant, .events, .contacts {

    padding-top: 250px;

}
