
* {
    box-sizing: border-box;
}
:root {

    --size_big : 4rem;
    --size_med : 1.3rem;
    --size_courant : 0.95rem;

    --interligne : 1.2;
    --interlettrage_small : 0.1px;

    @include sizeone {

        --size_big : 1.5rem;
        --size_med : 1rem;
        --size_courant : 0.95rem;

        --interligne : 1.2;
        --interlettrage_small : 0.1px;

    }

    // legal

}

html{
    background-color: #3C2109;
}

body {

    background-color: white;

}

html, body {
    
    font-family: 'Proto', sans-serif;
    font-size: var(--size_courant);
    line-height: var(--interligne);
    letter-spacing: var(--interlettrage_small);

}

h3 {

    text-align: center;

}
