.contacts {

    &_content {

        margin: var(--smallmargin) var(--margin);
        color: var(--color);
        font-size: var(--size_med);

        @include sizeone {

            margin: var(--margin);
            margin-top: calc(var(--smallmargin) + 11px);
            margin-bottom: 0px;

        }

        .content_text {

            display: flex;
            margin-top: var(--smallmargin);

            @include sizeone {

                flex-direction: column;

            }

            div {

                flex: 1;

                p {

                    margin-bottom: var(--smallmargin);

                }

                a {

                    color: var(--color);
                    background-color: var(--bub);
                    box-shadow: 11px 0 0 var(--bub), -14px 0 0 var(--bub), 11px 5px 0 var(--bub), -14px 5px var(--bub);
                    border-radius: 10px;

                    &:hover {

                        color: var(--bub);
                        background-color: var(--color);
                        box-shadow: 11px 0 0 var(--color), -14px 0 0 var(--color), 11px 5px 0 var(--color), -14px 5px var(--color);

                    }
                }
            }
        }
    }
}