.contacts {

    &_content {

        margin: var(--smallmargin) var(--margin);
        color: var(--color);
        font-size: var(--size_med);

        @include sizeone {

            margin: var(--margin);
            margin-top: calc(var(--smallmargin) + 11px);
            margin-bottom: 0px;

        }

        .content_text {

            display: flex;
            margin-top: var(--smallmargin);

            @include sizeone {

                flex-direction: column;

            }

            div {

                flex: 1;

                p {

                    margin-bottom: var(--smallmargin);

                }

                a {

                    color: var(--bub);
                    background-color: var(--color);
                    padding: 5px 10px 7px 10px;
                    border-radius: 10px;

                    @include sizeone {

                        padding: 2px 6px 4px 6px;
                        border-radius: 8px;
                        position: relative;
                        top: 2px;

                    }

                    &:hover {

                        color: var(--color);
                        background-color: var(--bub);

                    }
                }
            }
        }
    }
}