.contacts {

    &_content {

        margin: 25px;
        color: $marron;

        @include sizeone {

            margin: 20px;
            margin-top: 30px;

        }

        .content_text {

            display: flex;
            margin-top: 25px;

            @include sizeone {

                flex-direction: column;
                margin-top: 20px;

            }

            div {

                flex: 1;

                p {

                    margin-bottom: 25px;

                    @include sizeone {

                        margin-bottom: 20px;
        
                    }

                }

                a {

                    color: $vert2

                }
            
            }
        }

    }

}