$p100 : calc((100vw - (var(--margin) * 2)) / 100);

.event, .events {

    font-size: var(--size_med);

    h3 {

        margin-bottom: var(--smallmargin);

    }

    &_table {

        margin: var(--margin);
        width: calc(100vw - calc(var(--margin) * 2));

        @include sizeone {

            margin: var(--margin);
            margin-top: calc(var(--smallmargin) + 9px);
            margin-bottom: var(--smallmargin);
            width: calc(100% - (var(--margin) * 2));

        }

        &_line {

            display: grid;
            grid-template-columns: calc($p100 * 10) calc($p100 * 15) calc($p100 * 65) calc($p100 * 10);
            padding: 5px;
            color: var(--color);
            border-bottom: 2px solid var(--color);
            background-color: var(--back);

            @include sizeone {

                grid-template-columns: calc($p100 * 20) calc($p100 * 60) calc($p100 * 20);

            }

            &:hover {

                background-color: var(--bub);
                color: var(--color)

            }

            &.legend {

                background-color: var(--back);
                color: var(--color);

                border-top: 2px solid var(--color);

            }
            
            .type {

                font-size: 16px;
                padding: 1px 3px;
                background-color: var(--color);
                color: var(--back);
                border-radius: 5px;
                margin: 5px 15px;
                position: relative;
                top: -2px;

                @include sizeone {

                    font-size:(--size_small);

                }

            }

            &:hover .type {

                color: var(--bub);

            }
        }

        

    }

    .illustration_wrapper:first-child {

        @include sizeone {

            margin-top: 0px!important;

        }

    }

}