$p100 : calc((100vw - 50px) / 100);

.event, .events {

    font-size: var(--size_med);

    h3 {

        margin-bottom: var(--margin);

    }

    &_table {

        margin: var(--margin);
        width: calc(100vw - calc(var(--margi) * 2));

        @include sizeone {

            margin: var(--margin);
            margin-top: calc(var(--margin) + 9px);
            width: calc(100% - (var(--margin) * 2));

        }

        &_line {

            display: grid;
            grid-template-columns: calc($p100 * 15) calc($p100 * 10) calc($p100 * 20) calc($p100 * 50) calc($p100 * 5);
            padding: 5px;
            color: var(--color);
            border-top: 1px solid var(--color);
            border-bottom: 1px solid var(--color);
            background-color: var(--bub);

            &:hover {

                background-color: var(--color);
                color: var(--bub)

            }

            &.legend {

                background-color: var(--back);
                color: var(--color)

            }
        }

        

    }

    .illustration_wrapper:first-child {

        margin-top: 0px!important;

    }

}