.navigation {

    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    font-size: 1rem;
    margin: 5px;
    flex-direction: column;
    font-size: var(--size_med);

    @include sizeone {

        flex-wrap: wrap;

    }

    &_item {

        padding: 4px 11px;
        border-radius: 8px;
        margin: 3px;

        transition: color 0.3s ease,
                background-color 0.3s ease;

    }

    .links, .parts {

        display: flex;

        @include sizeone {

            flex-wrap: wrap;
    
        }

    }

}