.restaurant {

    font-size: var(--size_med);

    .horaire {

        @include sizeone {

            margin-top: var(--smallmargin);
            margin-bottom: var(--smallmargin);

        }

    }

    .text_content {

        columns: 2;
        margin: var(--smallmargin) var(--margin);
        gap: var(--margin);
        text-align: center;

        @include sizeone {

            columns: 1;

        }

    }
    
}