.restaurant {

    font-size: var(--size_med);

    .horaire {

        @include sizeone {

            margin-top: 30px;

        }

    }

    .text_content {

        columns: 2;
        margin: 25px;
        gap: 25px;

        @include sizeone {

            columns: 1;
            margin: 20px;

        }

    }

    .illustration_wrapper:first-child {

        margin-top: 0px!important;

    }
    
}